
.post{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #111111; /* Adjust color as needed */
    padding: 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    gap: 4px;
    /* position: relative; Ensure proper positioning */
  z-index: 0;
  overflow-y: auto;
}
.post.hidden {
    bottom: -100px; /* Move the post panel above the viewport to hide it */
  }
.text{
    border:0px;
    font-size: x-large;
    border-radius: 0.2em;
    width: 70vw ;
    height: 5vw;
    padding: 8px;
}
.text:focus{
    outline: none;
}
.button{
    padding: 15px;
    background-color: white;
    font-size: 20px;
    border: 0px;
    color: black;
    border-radius: 1em;
}
.button:hover{
    background-color: gray;
}
.commentsContainer {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
  position: relative; /* Ensure proper positioning */
  margin-bottom: 15vh;
 
  }
.comment{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main{
    background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    overflow: scroll;
    
}
@media  only screen and (max-width:768px) {
    .text{
        width: 60vw;
    }

    .post{
        gap:2px;
    }

    
    .button{
        padding: 10px;
    }
    
}
